<!DOCTYPE html>
<div class="loginContainer">
  <form class="form-signin" role="form" ng-submit="Login()">
      <input type="email" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="login-secondary">
          <div class="forgotpassword" ng-click="forgotPW()">
              Forgot Password?
          </div>
          <div class="register" ng-click="register()">
              Register
          </div>
      </div>
  </form>
</div>